includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - src/

    # Level 10 is the highest level
    level: 5
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - '**/ide-helper.php'
        - '**/ide_helper_models.php'
        - '**/phpstorm.meta.php'